<h1><%= @place["name"] %></h1>

<p class="nav-item">
              <a href="/entries/new?place_id=<%= @place["id"] %>" class="btn btn-success">New Post</a>
            </p>

<div class="container text-center">
  <% @entries.each_slice(3) do |entry_slice| %> <!-- Group entries in slices of 3 -->
    <div class="row mb-4">
      <% entry_slice.each do |entry| %> <!-- Iterate over each group of 3 entries -->
        <div class="col-md-4">
          <h3><%= entry["title"] %></h3>
          <h4><%= entry["occurred_on"] %></h4>
          <p><%= entry["description"] %></p>
                      <% if entry.uploaded_image.attached? %>
              <img src="<%= url_for(entry.uploaded_image) %>" class="img-fluid">
            <% else %>
              <img src="<%= entry["image"] %>" class="img-fluid">
            <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="container text-center">
  <div class="row">
    <div class="col">
      <% for entry in @entries %>
  <h3><%= entry["title"] %></h3>
  <h4><%= entry["occurred_on"] %></h4>
  <p><%= entry["description"] %></p>
<% end %>
    </div>

