<div class="mx-auto p-2" style="width: 200px;">
  <h1><%= @place["name"] %></h1>
</div>

<div class="mx-auto p-2" style="width: 100px;">
  <a href="/entries/new?place_id=<%= @place["id"] %>" class="btn btn-success">New Post</a>
            </p>
</div>
              
<div class="container text-center">
  <% for entries in @entries.each_slice(3) %>
    <div class="row mb-4">
      <% for entry in entries %>
        <div class="col-md-4">
          <h3><%= entry["title"] %></h3>
          <h4><%= entry["occurred_on"] %></h4>
          <% if entry.uploaded_image.attached? %>
            <img src="<%= url_for(entry.uploaded_image) %>" class="img-fluid">
          <% else %>
            <img src="<%= entry["image"] %>" class="img-fluid">
          <% end %>
          <p><%= entry["description"] %></p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

